<!DOCTYPE html>
<html>
<head>
	<title>Page de Connexion</title>

	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="{{asset('style/login.css')}}">
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>


<div class="container">
    <button type="button" class="btn btn-dark"><a href="{{ path('home')}}">Retour Accueil</a></button>
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Crée ton compte Skud !</h3>
			</div>
			<div class="card-body">
				{{ form_start(form)}}


					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						 {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'pseudo'} }) }}
					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-at"></i></span>
						</div>
						 {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'email'} }) }}
                         {{ form_errors(form.email)}}
					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						 {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'mot de passe' } }) }}
                        {{ form_errors(form.plainPassword.first)}}

					</div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
						<span class="input-group-text"><i class="fas fa-redo"></i></span>
						</div>
					{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'confirme ton mot de passe' } }) }}
                    {{ form_errors(form.plainPassword.second)}}
					</div>

                    <br>
					<div class="form-group">
						<input type="submit" value="inscription"  class="btn float-right login_btn">
					</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>
</body>
</html>